In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

train = pd.read_csv('train.csv', sep =',')
test = pd.read_csv('test.csv', sep =',')

In [3]:
test.columns

Index(['NU_INSCRICAO', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_DEPENDENCIA_ADM_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA', 'IN_GESTANTE', 'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q027', 'Q047'], dtype='object')

As we can see above, the test dataset has fewer columns than the train dataset, so we will use only the columns common in both and the column NU_NOTA_MT.

In [4]:
cols = list(set(train.columns).intersection(set(test.columns)))
cols.append('NU_NOTA_MT')
train_copy = train[cols].copy()
train_copy.shape, test.shape

((13730, 48), (4576, 47))

In [13]:
train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 48 columns):
NU_NOTA_CN                10341 non-null float64
IN_IDOSO                  13730 non-null int64
Q026                      13730 non-null object
Q027                      6357 non-null object
TP_STATUS_REDACAO         10133 non-null float64
IN_CEGUEIRA               13730 non-null int64
Q006                      13730 non-null object
CO_PROVA_MT               13730 non-null object
NU_NOTA_LC                10133 non-null float64
NU_NOTA_COMP1             10133 non-null float64
Q002                      13730 non-null object
NU_NOTA_COMP2             10133 non-null float64
CO_PROVA_CN               13730 non-null object
TP_LINGUA                 13730 non-null int64
IN_DISCALCULIA            13730 non-null int64
SG_UF_RESIDENCIA          13730 non-null object
TP_SEXO                   13730 non-null object
TP_PRESENCA_LC            13730 non-null int64
NU_NOTA_COMP3             10133 non-null float64
Q047                      13730 non-null object
NU_NOTA_CH                10341 non-null float64
TP_ENSINO                 4282 non-null float64
Q001                      13730 non-null object
TP_ESCOLA                 13730 non-null int64
CO_UF_RESIDENCIA          13730 non-null int64
IN_TREINEIRO              13730 non-null int64
NU_INSCRICAO              13730 non-null object
TP_NACIONALIDADE          13730 non-null int64
TP_DEPENDENCIA_ADM_ESC    4282 non-null float64
NU_NOTA_COMP4             10133 non-null float64
Q025                      13730 non-null object
TP_COR_RACA               13730 non-null int64
IN_SURDEZ                 13730 non-null int64
TP_PRESENCA_CN            13730 non-null int64
CO_PROVA_LC               13730 non-null object
NU_NOTA_COMP5             10133 non-null float64
TP_PRESENCA_CH            13730 non-null int64
TP_ST_CONCLUSAO           13730 non-null int64
NU_NOTA_REDACAO           10133 non-null float64
IN_DISLEXIA               13730 non-null int64
IN_SABATISTA              13730 non-null int64
IN_BAIXA_VISAO            13730 non-null int64
TP_ANO_CONCLUIU           13730 non-null int64
IN_GESTANTE               13730 non-null int64
Q024                      13730 non-null object
NU_IDADE                  13730 non-null int64
CO_PROVA_CH               13730 non-null object
NU_NOTA_MT                10133 non-null float64
dtypes: float64(13), int64(20), object(15)
memory usage: 5.0+ MB

From above, we will initially drop columns *Q027*, *TP_DEPENDENCIA_ADM_ESC*, AND *TP_ENSINO* because we think other columns encode necessary information to deal with this absence, but we will try to use it later in our model.

In [16]:
train_copy = train_copy.drop(['Q027', 'TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO'], axis = 1)
test = test.drop(['Q027', 'TP_DEPENDENCIA_ADM_ESC', 'TP_ENSINO'], axis = 1)

Now, we are going to drop row with null values for the days the students were not present at the exam. We infer that since they did not participate, we cannot give it a zero value, as this would underestimate their grades.

In [28]:
train_copy = train_copy.fillna(value=0)
test = test.fillna(value=0)

To finish, we will remove all columns beginning with CO, because they contain only information about the exam's code for management purposes.

In [34]:
train_copy = train_copy.drop(['CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_CN', 'CO_PROVA_MT', 
                 'SG_UF_RESIDENCIA'], axis = 1)
test = test.drop(['CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_CN', 'CO_PROVA_MT', 
                 'SG_UF_RESIDENCIA'], axis = 1)

In [35]:
train_copy.shape, test.shape

((13730, 40), (4576, 39))

In [37]:
train_copy.to_csv('train_zero.csv', sep=',')
test.to_csv('test_zero.csv', sep=',')